#mc_embed_signup {
	width: 50%;
	margin: 30px auto;
}

#mc_embed_signup .mc-field-group {
	position: relative;
	margin: 0 0 1em;
}

#mc_embed_signup .mc-field-group label {
	position: absolute;
	margin: 5px 10px;
	font-style: italic;
}

#mc_embed_signup .mc-field-group input {
	width: 100%;
}

#mc_embed_signup .mc-field-group input.required {
	/*color: #000;*/
}

#mc_embed_signup .mc-field-group #mce-EMAIL {
	padding-left: 55px;
}

#mc_embed_signup .button {
	float: right;
	margin: 0;
}

#mc_embed_signup span.required {
	display: none;
}

#mc_embed_signup #mce-responses {
	text-align: center;
}

#mc_embed_signup #mce-responses .response {
	margin-bottom: 10px;
}

#mc_embed_signup input.mce_inline_error {
	background: #f4e7e6;
    border-color: #b85f56;
}

#mc_embed_signup div.mce_inline_error {
	display: none !important;
}

