/* General */
.wp-classic-occ-rather-simple-mailchimp .mc-field-group {
	position: relative;
	margin: 0 0 1em;
}

.wp-classic-occ-rather-simple-mailchimp .mc-submit-button {
	display: flex;
	justify-content: center;
}

.wp-classic-occ-rather-simple-mailchimp .wp-element-button {
	margin: 0;
}

.wp-classic-occ-rather-simple-mailchimp .mc-responses {
	margin-top: 10px;
	font-size: 85%;
	text-align: center;
	clear: both;
}

.wp-classic-occ-rather-simple-mailchimp .mc-responses .response {
	margin-bottom: 10px;
}

/* Popup */
#mailchimp-popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

#mailchimp-popup:target {
	display: block;
}

#mailchimp-popup:not(:target) {
	display: none;
}

#mailchimp-popup .mailchimp-popup-content {
	position: absolute;
	padding: 75px;
	top: 50%;
	left: 50%;
	max-width: 500px;
	width: 100%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

#mailchimp-popup .mailchimp-popup-close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
}
  
#mailchimp-popup .mailchimp-popup-close:hover,
#mailchimp-popup .mailchimp-popup-close:focus {
	text-decoration: none;
	cursor: pointer;
}