#mc_embed_signup .mc-field-group {
    position: relative;
    margin: 0 0 1em;
}

#mc_embed_signup .mc-field-group input {
    width: 100%;
}

#mc_embed_signup .button {
    margin: 0;
}

#mc_embed_signup #mce-responses {
    margin-top: 10px;
    font-size: 85%;
    text-align: center;
    clear: both;
}

#mc_embed_signup #mce-responses .response {
    margin-bottom: 10px;
}

#mc_embed_signup input.mce_inline_error {
    background: #f4e7e6;
    border-color: #b85f56;
}

#mc_embed_signup div.mce_inline_error {
    display: none !important;
}

#mailchimp-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.mailchimp-popup-content {
    position: relative;
    padding: 100px;
}

#mailchimp-popup:target {
    display: block;
}

#mailchimp-popup:not(:target) {
    display: none;
}

.mailchimp-popup-close {
    color: #aaaaaa;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}
  
.mailchimp-popup-close:hover,
.mailchimp-popup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}