#mc_embed_signup .mc-field-group {
    position: relative;
    margin: 0 0 1em;
}

#mc_embed_signup .button {
    margin: 0;
}

#mc_embed_signup #mce-responses {
    margin-top: 10px;
    font-size: 85%;
    text-align: center;
    clear: both;
}

#mc_embed_signup #mce-responses .response {
    margin-bottom: 10px;
}

#mc_embed_signup input.mce_inline_error {
    background: #f4e7e6;
    border-color: #b85f56;
}

#mc_embed_signup div.mce_inline_error {
    display: none !important;
}

#mailchimp-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

#mailchimp-popup:target {
    display: block;
}

#mailchimp-popup:not(:target) {
    display: none;
}

#mailchimp-popup .mailchimp-popup-content {
    position: absolute;
    padding: 75px;
    top: 50%;
    left: 50%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

#mailchimp-popup .mailchimp-popup-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}
  
#mailchimp-popup .mailchimp-popup-close:hover,
#mailchimp-popup .mailchimp-popup-close:focus {
    text-decoration: none;
    cursor: pointer;
}