.wp-block-occ-rather-simple-mailchimp {
	.mc-field-group {
		position: relative;
		margin: 0 0 1em;
	}

	.wp-element-button {
		margin: 0;
	}

	.mc-responses {
		margin-top: 10px;
		font-size: 85%;
		text-align: center;
		clear: both;

		.response {
			margin-bottom: 10px;
		}
	}
}